<h1>Results Page</h1>

<ul>
    <% parsedData["Search"].forEach(function(movie){ %>
        <li>
            <strong><%= movie["Title"] %></strong> - <i><%= movie["Year"] %></i>
        </li>
    <% }) %>
</ul>

<a href="/"><button>Search Again</button></a>