<h1>You fell in love with: <%= thingVar.toUpperCase() %> </h1>

<% if(thingVar.toLowerCase() === "rusty"){ %>
<p>Good Chouse, Rusty is the Best!</p>
<% } else { %>
<p>Bad Choice, You should have said Mario!</p>
<% } %>

<p>P.S. This is the love.ejs file</p>